<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mybatis.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.boot.mybatis.bean.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="OTHER" />
    <result column="STATUS" property="status" jdbcType="OTHER" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="OTHER" />
    <result column="ROLE_SORT" property="roleSort" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROLE_ID, ROLE_NAME, STATUS, ROLE_DESC, ROLE_SORT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boot.mybatis.bean.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ROLE
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.boot.mybatis.bean.RoleExample" >
    delete from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boot.mybatis.bean.Role" >
    insert into SYS_ROLE (ROLE_ID, ROLE_NAME, STATUS, 
      ROLE_DESC, ROLE_SORT)
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=OTHER}, #{status,jdbcType=OTHER}, 
      #{roleDesc,jdbcType=OTHER}, #{roleSort,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.mybatis.bean.Role" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
      <if test="roleSort != null" >
        ROLE_SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=OTHER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=OTHER},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=OTHER},
      </if>
      <if test="roleSort != null" >
        #{roleSort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boot.mybatis.bean.RoleExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ROLE
    <set >
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null" >
        ROLE_NAME = #{record.roleName,jdbcType=OTHER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=OTHER},
      </if>
      <if test="record.roleDesc != null" >
        ROLE_DESC = #{record.roleDesc,jdbcType=OTHER},
      </if>
      <if test="record.roleSort != null" >
        ROLE_SORT = #{record.roleSort,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ROLE
    set ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{record.roleName,jdbcType=OTHER},
      STATUS = #{record.status,jdbcType=OTHER},
      ROLE_DESC = #{record.roleDesc,jdbcType=OTHER},
      ROLE_SORT = #{record.roleSort,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.mybatis.bean.Role" >
    update SYS_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=OTHER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=OTHER},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=OTHER},
      </if>
      <if test="roleSort != null" >
        ROLE_SORT = #{roleSort,jdbcType=DECIMAL},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.mybatis.bean.Role" >
    update SYS_ROLE
    set ROLE_NAME = #{roleName,jdbcType=OTHER},
      STATUS = #{status,jdbcType=OTHER},
      ROLE_DESC = #{roleDesc,jdbcType=OTHER},
      ROLE_SORT = #{roleSort,jdbcType=DECIMAL}
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
</mapper>