<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<!--                 配置mybatis启用log4j日志记录             -->
<configuration>  
    <settings>  
    <!--  mybatis原则上是不支持logback，但是logback是SLF4J的完美实现者   -->
         <setting name="logImpl" value="SLF4J" />
         <!--  开启二级缓存	-->
        <!--  <setting name="cacheEnabled" value="true"/> -->
    </settings>  
</configuration>  